.tile__hero {
    background-color: var(--hero-color-background);
}
.tile__hero__wrapper {
    @media (min-width: 768px) {
        padding-block: calc(var(--tile-spacing) * 23);
    }
    padding-block: calc(var(--tile-spacing) * 16);
    margin-inline: auto;
    max-width: var(--tile-max-w-3xl);
    text-align: center;
    color: var(--hero-color-text);
}

.tile__hero__heading {
    color: var(--hero-color-heading);
}

.tile__hero__teaser {
    font-size: 1.5rem;
    margin-block: calc(var(--tile-spacing) * 4);
}
