.tetra__pricing__table__legend {
    display: flex;
    gap: calc(var(--tetra-spacing) * 2);
    align-items: center;
    margin-block: calc(var(--tetra-spacing) * 4);
    padding-left: calc(var(--tetra-spacing) * 4);
}
.tetra__pricing__table__legend__item {
    display: flex;
    align-items: center;
    gap: var(--tetra-spacing);
}
.tetra__pricing__table__cell--header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.tetra__pricing__table__cell--header:nth-child(1) {
    display: none;
    @media (min-width: 756px) {
        display: inherit;
        align-items: center;
    }
}
.tetra__pricing__feature-group {
    margin-top: calc(var(--tetra-spacing) * 16);
    @media (min-width: 756px) {
        margin-top: calc(var(--tetra-spacing) * 10);
    }
}

.tetra__pricing__feature-group__title {
    margin-bottom: calc(var(--tetra-spacing) * 4);
}

.tetra__pricing__appendix,
.tetra__pricing__legend {
    margin-block: calc(var(--tetra-spacing) * 4);
    padding-left: calc(var(--tetra-spacing) * 4);
    color: var(--tetra-color-primary-text-400);
}
